html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* T?o ki?u cho ph?n comment */
.comment-item {
    border: 2px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* T?o ki?u cho ph?n header c?a comment */
.comment-header {
    display: flex;
    align-items: center;
}

.user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* T?o ki?u cho ph?n thông tin c?a ng??i comment */
.user-info {
    font-weight: bold;
}

/* T?o ki?u cho n?i dung c?a comment */
.comment-content p {
    font-size: 16px;
    line-height: 1.4;
}

/* T?o ki?u cho ph?n footer c?a comment */
.comment-footer .comment-date {
    color: #777;
}