<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SWD392_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SWD392_Project.styles.css" asp-append-version="true" />
    <style>
        .banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .banner-buttons {
            display: flex;
        }

            .banner-buttons button {
                margin-left: 10px;
            }

        .footer {
            margin-top: 20px;
            background-color: #f2f2f2;
            padding: 10px 0;
            text-align: center;
        }

        .banner {
            background-color: #007BFF;
            padding: 20px;
            text-align: center;
        }

        .banner-link {
            text-decoration: none;
            color: #fff;
        }

        .banner-title {
            font-size: 36px;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- Thay thế phần header bằng phần banner tùy chỉnh -->
    <div class="banner">
        <div class="banner">
            <a href="@Url.Action("Index", "Events")" class="banner-link">
                <h1 class="banner-title">Event Management</h1>
            </a>
        </div>
        <div class="banner-buttons">
            @if (TempData["UserName"] == null)
            {
                <a href="/SignIn" class="btn btn-primary">Sign In</a>
                <a href="/SignUp" class="btn btn-success">Sign Up</a>
            }
            else
            {
                <a href="/Events/ProfileEvent" class="btn btn-primary">My Events</a>
                <a href="/User/UserProfile" class="btn btn-success">Profile</a>
                <a href="/SignOut" class="btn btn-danger">Sign Out</a>
            }
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center">
        <p>&copy; 2023 - SWD392_Project</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>