@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    //const data = {
    //    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    //    datasets: [
    //        {
    //            label: 'number of Event',
    //            data: [12, 19, 3, 5, 2, 3],
    //            borderWidth: 1
    //        },
    //        {
    //            label: 'number of Account',
    //            data: [11, 11, 1, 1, 1, 1],
    //            borderWidth: 1
    //        }
    //    ],
    //},

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [
                {
                    label: 'number of Event',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                },
                {
                    label: 'number of Account',
                    data: [11, 11, 1],
                    borderWidth: 1
                }
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
